html,
body {
  font-family: Arial, sans-serif;
}


.button-class {
  background-color: #6C8DA7; /* Green */
  width: 100%;
}

.pokemon-list {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}
